.App {
  text-align: center;
}

.section {
    margin-bottom: 5rem;
	padding: 0 1.4rem;
	display: flex;
	flex-direction: row;
	min-height: 80vh;
	justify-content: center;
	align-items: center;
    position: relative;
}

.section:after {
    content: " ";
    display: block;
    width: 80%;

    border-bottom: solid 2px gray;
    position: absolute;
    bottom: -29px;
}

.hero-logo {
	width: 100%;
}

.hero-description {
	text-align: left;
}

.navlink {
	margin-right: 1rem;
}

