* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --deep-red: #A22425;
    --red-1: #B3746B;
    --deep-blue: #27323D;
    --blue-1: #536E8E;
    --blue-2: #B8CFD9;
    --white: white;
    --black: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,li {
    list-style: none;
}

img, svg {
	height: 100%;
	width: 100%;
}

a {
    text-decoration: none;
}

button {
    outline: none
}
